@(users: List[User], employees: List[Employee], students: List[Student])

@main("List of Users") {


    <a href="@routes.Application.index">Home</a>

    <a href="@routes.Application.create">Insert</a>

    <hr />

    <h2>Users</h2>

    @for(l <- users){
        <li>@l.id -- @l.name</li>
        <li><a href="@routes.Application.findById(l.id.get.toString)"> Show </a></li>
    }

    <hr />

    <h2>Employees</h2>

    @for(l <- employees){
        <li>@l.id -- @l.name</li>
    }

    <h2>Students</h2>

    @for(l <- students){
        <li>@l.id -- @l.name</li>
    }



}
